<!DOCTYPE html>
<html>
<head>
  <title>Tictactoe2player</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navbar' %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  <% if Rails.env.development? %>
    <%= debug(params) %>
    <%= console %>
  <% end %>

</body>
</html>
